body {
    margin: 100px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.caja-zapato {
    margin: 50px 80px 60px 70px;
    padding: 25px;
    border: 5px solid red;
    display: inline;
}

.caja-zapato:hover {
    background-color: red;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .caja-zapato {
        border: 5px solid blue
    }

    .caja-zapato:hover {
        background-color: blue;
    }
}